.carousel {
  width: 100%;
  height: 800px;
  background-color: black;
}

.carouselInner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.carouselInner .left {
  flex: 5%;
  height: 100%;

  display: grid;
  place-items: center;
  color: rgb(17, 94, 89);
  cursor: pointer;
}

.carouselInner .center {
  flex: 80%;
  height: 100%;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-align-last: center;
}


.carouselInner .right {
  flex: 5%;
  height: 100%;
  display: grid;
  place-items: center;
  color: rgb(17, 94, 89);
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .carousel {
    height: auto;
  }

  .carouselInner {
    flex-direction: row;
    height: 400px;
  }

  .carouselInner .left,
  .carouselInner .center,
  .carouselInner .right {
    flex: 5%;
    padding: 60px; /* Add some padding for better spacing */
  }
}