@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "burtons";
  src: url("/public/Burtons.otf")
}

::-webkit-scrollbar {
  width: 1em;
}


::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: #036672;
  border-radius: 100vw;
}


.dark ::-webkit-scrollbar-track{
  background: #111827;
  border-radius: 100vw;
  margin-block: .5em;
}